{% extends 'themes/base_admin.html.twig' %}

{% block title %} Tableau de bord administrateur {% endblock %}

{% block description %}Tableau de bord administrateur {% endblock %}

{% block main %}
<h1 class="text-center display-5">Tableau de bord admin</h1>
{% endblock %}