$color-background: #FBF2EA;

$color-dark-brown: #3d2e27;
$color-light-brown: rgba(255, 255, 255, 0.04);
$color-medium-beige: #efdcd3;
$color-light-beige: #fffcf8;

$color-pink: #d4857a;
$color-bright-pink: #e8788a;
$color-light-pink: #f7a6b1;

$color-white: #ffffff;

$color-dark-gray: #333333;
$color-medium-gray: #555555;
$color-text-gray: #3d393a;

$color-border: #b5a49a;
$color-input-border: #cabcaa;
$color-focus: #E8DDD0;

// fonts
$font-body: "Poppins", sans-serif;
$font-display: "Cormorant Garamond", serif;

// buttons
$btn-min-width: 120px;
$btn-min-width-lg: 180px;