{% extends 'themes/base_admin.html.twig' %}

{% block title %}Ajout d'un service{% endblock %}

{% block description %}Ajouter un nouveau service{% endblock %}

{% block keywords %} Ajouter, nouveau, services{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouveau service</h1>
    
    
    
    
    
{% endblock %}
