{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block description %}Liste de tous les services{% endblock %}

{% block keywords %} Liste, consulter, services{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des services</h1>
    
    <div>
        <a href="{{path('app_admin_service_create')}}" class="btn">Ajouter un service</a>
    </div>
    
    
    
{% endblock %}
