{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Mentions légales - Bloom Atelier{% endblock %}

{% block description %}Mentions légales{% endblock %}

{% block keywords %}Mentions légales{% endblock %}

{% block main %}

<div>
    <h1 class="text-center my-3 display-5">À propos de nous</h1>
</div>
{% endblock %}
