{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Mentions légales - Bloom Atelier{% endblock %}

{% block description %}Mentions légales{% endblock %}

{% block keywords %}Mentions légales{% endblock %}

{% block main %}

<!-- À propos -->

	<section>
		<div class="container-fluid my-5">
			<div class="row">
				<div class="col-md-6 d-flex justify-content-center align-items-center">
					<img src="{{ asset('images/static/aboutus.jpg') }}" alt="Image de Hawa Diallo" class="img-fluid w-75">
				</div>
				<div class="col-md-6 ">
					<h1 class="display-6 fw-light mt-5 cormorant-garamond">Notre<span class="pink display-6 cormorant-garamond">
							histoire</span>
					</h1>
					<span class="fs-5">Hawa Diallo, fondatrice</span>
					<div class="mx-5 my-5">
						<p>
							Bloom Atelier est né d’une conviction simple : la beauté ne doit pas être une norme à suivre, mais une manière personnelle de se révéler. Dans un univers où les tendances évoluent rapidement et où les standards esthétiques sont omniprésents, il devient essentiel de revenir à quelque chose de plus authentique, plus individuel et plus durable.
						</p>
						<p>
							Fondatrice de Bloom Atelier, Hawa Diallo évolue dans l’univers de la beauté depuis plus de dix ans. Son parcours s’est construit à travers des expériences variées dans le maquillage professionnel, la mode, le cinéma et les événements privés. Ces différentes expériences lui ont permis de développer une vision globale de la mise en beauté, mêlant exigence technique, sens artistique et compréhension des personnes qu’elle accompagne.
						</p>
						<p>
							Formée à Paris aux techniques professionnelles de maquillage et au conseil en image, elle a progressivement affiné son approche autour d’une idée centrale : chaque visage a sa propre harmonie, et le rôle de la mise en beauté est de la révéler sans la modifier. Cette vision repose autant sur la maîtrise des techniques que sur l’écoute, l’observation et l’adaptation à chaque individualité.
						</p>
						<p>
							Chez Bloom Atelier, chaque accompagnement est personnalisé. Un temps d’échange permet de comprendre les attentes, mais aussi la personnalité, le mode de vie et le rapport à l’image de chaque personne. Cette étape permet de proposer un résultat cohérent et naturel, en accord avec ce qui existe déjà plutôt qu’en cherchant à transformer.
						</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
