body {
  background-color: $color-background;
}

.container-bg {
  background-color: $color-light-beige;
}

.bg-brown {
  background-color: $color-dark-brown;
}

.bg-clear-brown {
  background-color: $color-medium-beige;
}

.active {
  color: $color-pink !important;
}