* {
  font-family: $font-body;
  font-weight: 400;
  font-size: small;
}

a {
  color: $color-dark-gray;

  &:hover {
    color: $color-medium-gray;
  }
}

.cormorant-garamond {
  font-family: $font-display;
  font-weight: 300;
}

.pink {
  color: $color-pink;

  // applique le style rose à l'icone étoile dans Comment

  i {
    color: $color-pink !important;
  }
}