{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Concept - Bloom Atelier{% endblock %}

{% block description %}Découvrez le concept unique de Bloom Atelier : des sessions de maquillage en petit groupe, avec des conseils personnalisés pour sublimer votre style.{% endblock %}

{% block keywords %}Bloom Atelier, maquillage, sessions de maquillage, conseils personnalisés, atelier beauté{% endblock %}

{% block main %}

<div>
    <h1 class="text-center my-3 display-5">Concept</h1>
</div>
{% endblock %}
