{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Prestations - Bloom Atelier{% endblock %}

{% block description %}Découvrez toutes les prestations proposées par Bloom Atelier : sessions de maquillage en petit groupe, conseils personnalisés et ateliers beauté.{% endblock %}

{% block keywords %}Bloom Atelier, maquillage, prestations, sessions de maquillage, atelier beauté, conseils personnalisés{% endblock %}

{% block main %}
<div>
    <h1 class="text-center my-3 display-5">Prestations</h1>
</div>
{% endblock %}
