{% extends 'themes/base_visitor.html.twig' %}

{% block title %}CGV - Bloom Atelier{% endblock %}

{% block description %}CGV{% endblock %}

{% block keywords %}CGV{% endblock %}

{% block main %}

<div>
    <h1 class="text-center my-3 display-5">CGV</h1>
</div>
{% endblock %}
