{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contact - Bloom Atelier{% endblock %}

{% block description %}Contactez Bloom Atelier pour réserver vos sessions de maquillage ou poser vos questions sur nos prestations.{% endblock %}

{% block keywords %}Bloom Atelier, contact, réservation, sessions de maquillage, maquillage, atelier beauté{% endblock %}

{% block main %}
<div class="container py-5">
    <h1 class="text-center my-3 display-5">Contact</h1>
    <p class="text-center mb-5">Pour toute question ou réservation, remplissez le formulaire ci-dessous :</p>

</div>
{% endblock %}
