{% extends "themes/base_visitor.html.twig" %}

{% block title %}
Vérification de votre adresse e-mail | Bloom Atelier
{% endblock %}

{% block description %}
Un e-mail de confirmation vous a été envoyé. Veuillez vérifier votre adresse e-mail afin d’activer votre compte Bloom Atelier.
{% endblock %}

{% block keywords %}
vérification e-mail, confirmation compte, inscription, activation compte, Bloom Atelier
{% endblock %}

{% block main %}
    <div class="mt-5">
        <h1 class="text-center my-3 display-5 cormorant-garamond mb-5">
            Vérification de votre adresse e-mail
        </h1>

        <p class="text-center text-muted mt-3">
            Un e-mail de confirmation vient de vous être envoyé.
            Cliquez sur le lien contenu dans ce message pour activer votre compte Bloom Atelier.
        </p>

        <p class="text-center text-muted">
            Si vous ne trouvez pas l’e-mail, pensez à vérifier votre dossier courriers indésirables.
        </p>
    </div>
{% endblock %}
