{% extends 'themes/base_user.html.twig' %}

{% block title %} Espace utilisateur - Bloom Atelier{% endblock %}
{% block description %} Tableau de borod {% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Hello {{ app.user.firstName }} {{ app.user.firstName }}</h1>
{% endblock %}